/* RESET */
table, tr, input, td, body, div {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}


/* APPLICATION CLASSES */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
  padding: 40px;
}


/* GAME CLASSES */

#sudokuContainer {
  padding: 40px;
}
.sudoku-table {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #aaaaaa;
}

.sudoku-table input {
  width: 30px;
  border: 2px solid #e3e3e3;
  height: 30px;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

/* INPUT CLASSES */

.highlight {
  background: #e3e3e3;
}

.conflict {
  color: #ff0000;
  font-weight: 200;
}
